// colors
$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

// typography
$font-family: 'Manrope', sans-serif;
$font-size: 16px;
$fw-normal: 500;
$fw-eb: 800;